{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<h2>Categorías</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.cathegoryName }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a href="{{ url_for('edit_category', id=category.PK_category) }}" class="btn btn-warning">Editar</a>
                <form action="{{ url_for('delete_category', id=category.PK_category) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_category') }}" class="btn btn-success">Agregar Categoría</a>
{% endblock %}
