{% extends "base.html" %}

{% block title %}Agregar Cliente{% endblock %}

{% block content %}
<h1>Agregar Nuevo Cliente</h1>
<form method="POST">
    <div class="mb-3">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
    <div class="mb-3">
        <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
        <input type="text" class="form-control" id="birthDate" name="birthDate">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
